body, .card, p, tr {
    background-color : var(--bs-body-bg);
    color            : var(--bs-body-color);
    transition       : background-color 1s, color 2s, font-size 500ms;
}

.table-striped > tbody > tr:nth-of-type(odd) {
    color            : var(--bs-table-striped-color)
}

.navbar {
    background-color : rgba(var(--bs-light-rgb),var(--bs-bg-opacity));
    transition       : background-color 1s, color 2s;
}

/*
#contrast img {
    filter     : invert(0%);
}
*/

.dark {
    color             : var(--bs-body-bg);
    background-color  : var(--bs-body-color);
}

.font-size-class-a-1 {
    font-size : 0.8em;
}
.font-size-class-a-2 {
    font-size : 1.0em;
}
.font-size-class-a-3 {
    font-size : 1.2em;
}
.font-size-class-a-4 {
    font-size : 1.4em;
}
.font-size-class-a-5 {
    font-size : 1.6em;
}



@keyframes invert {
    0%    { filter : invert(0%)   }
    50%   { filter : invert(50%)  }
    100%  { filter : invert(100%) }
}

.icon-inverted {
    animation : invert     2s forwards;
}

@keyframes not-invert {
    0%    { filter : invert(100%)   }
    50%   { filter : invert(50%)  }
    100%  { filter : invert(0%) }
}

.icon-not-inverted {
    animation : not-invert 2s forwards;
}


.introduction {
    font-family : verdana;
}


.footer {
    font-family : verdana;
    font-style  : italic;
    text-align  : right;
}1