<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Database Information
    </title>
    <style>
        .center {
            text-align : center
        }
    </style>
</head>
<body>
    <h3>Database Information</h4>
    <div class="center"> 
        {{ information }}
    </div>
</body>
</html>
