{% extends "base.tmpl" %}

{% block scripts %}
<script src="js/services.js"></script>
{% endblock %}

{% block content %}
<body>
    <br>
    <br>
    <div id="map"></div>

    <script src="js/ubs-map.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=weekly&key=AIzaSyCEsbZuu7oBuziOqLfcDKmcShDq4v72YbA&callback=initMap" async></script>
    <script src="https://unpkg.com/@googlemaps/markerclusterer/dist/index.min.js"></script>
    <hr/>
</body>
{% endblock %}
