{% extends "base.tmpl" %}
{% block body %}
    <table border="0" width="100%">
        <tr>
            <td><p align="left" width="20%"><img src="img/seringa.jpg" width="80" height="80"></p>
            </td>
            <td><p align="center" width="60%"><font size="7"><strong>VACINA PAULISTANA</strong></font></p>
            </td>
            <td><p align="right" width="20%"><img src="img/seringa.jpg" width="80" height="80"></p>
            </td>
        </tr>
    </table>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col"> #                </th>
                <th scope="col"> Nome           </th>
                <th scope="col"> Bairro </th>
                <th scope="col"> Logradouro        </th>
            </tr>
        </thead>
        <tbody>
            {% for item in seq %}
            <tr>
                <th scope="row"> {{ item[0] }} </th>
                <td>             {{ item[1] }} </td>
                <td>             {{ item[2] }} </td>
                <td>             {{ item[3] }} </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock   %}
